[2015-12-07 14:00] leandromoreira opened #1 "override setupSrc"

[2016-01-09 20:09] #1 closed

[2016-01-26 14:50] me-vlad opened #2 "autoplay broken in Clappr 0.2.31 with dash_shaka_playback"
With autoPlay: false stream is playing

debug log w/ autoplay enabled

[code]

[2016-01-26 15:47] leandromoreira commented on #2
https://github.com/clappr/clappr/pull/803

[2016-01-26 16:47] #2 closed

[2016-01-26 16:54] leandromoreira opened #3 "It seems that buffering is messing around"

[2016-01-26 17:28] leandromoreira commented on #3
it's never receiving a bufferfull

[2016-01-26 17:30] leandromoreira commented on #3
@tjenkinson do you have any ideia ? ^

[2016-01-26 17:40] tjenkinson commented on #3
Will have more of a look later but it might be something not calling the patent method.

Looks like stop isn't calling super for example

[2016-01-26 17:48] leandromoreira commented on #3
:) I'll look into later, thanks

[2016-01-26 19:12] tjenkinson commented on #3
:+1:

[2016-02-02 00:21] leandromoreira commented on #3
@tjenkinson it's solved by new clappr release ;)

[2016-02-02 00:21] #3 closed

[2016-02-08 22:25] joeyparrish opened #4 "JFYI: Shaka 2 coming soon"
JFYI, Shaka team is hard at work on Shaka 2, which will have a new API.  You can see a preview of the work-in-progress on the [preview branch](https://github.com/google/shaka-player/tree/preview/).  We also published a [redesign doc](https://github.com/google/shaka-player/blob/preview/docs/design/REDESIGN.md) with a roughed-out version of the new APIs and diagrams of the new architecture.

I'll up

[2016-02-08 22:50] leandromoreira commented on #4
Congrats @joeyparrish and the team,  I'm looking forward for this, thanks for all the work! :beers:

[2016-03-03 14:41] abdul opened #5 "DRM License URL"
A lot of people use Shaka Player for it's capabilities to play DRM (widevine and playready) protected content.

Can you please add a way to let people specify license-urls?

The easiest way I think of:

`this._player.load(new shaka.player.DashVideoSource(this.options.src, interpretContentProtection))`

[code]
Let people override interpretContentProtection?

Thank you
-abdul

[2016-03-03 14:46] leandromoreira commented on #5
Thanks for the heads up @abdul I'll check that later :smile:

[2016-03-03 17:22] #5 closed

[2016-03-03 17:23] leandromoreira commented on #5
@abdul can you test it now?

[2016-03-03 18:37] abdul commented on #5
@leandromoreira it works, thank you :-)

[2016-03-23 17:42] leandromoreira commented on #4
Fixed links: [redesign](https://github.com/google/shaka-player/blob/master/docs/design/REDESIGN.md) and it already points to master :grinning:

[2016-03-23 17:43] joeyparrish commented on #4
Yes indeed!  We recently merged to master and hope to release beta soon.

[2016-04-04 03:16] khanghuynh92 opened #6 "The volume cannot drag"
Hi author,

Please help check the volume cannot drag when using dash plugin with clappr lastest version

[2016-04-04 18:07] leandromoreira commented on #6
it seems that @jsdelivery changed and the latest version of clappr is not the latest, are you using the cdn version?

[2016-04-04 18:41] leandromoreira commented on #6
anyway, I'm debugging to try to figure it out. :) thanks a lot @khanghuynh92

[2016-04-04 18:55] #6 closed

[2016-04-04 19:04] leandromoreira commented on #6
@khanghuynh92 please let me know if it was really fixed (I tested locally and it worked)

[2016-04-05 03:43] khanghuynh92 commented on #6
@leandromoreira I've checked with new build of dash-shaka-playback.js but it's still not drag volume, I'm using lastest version of clappr.min.js thought cdn

[2016-04-05 12:31] leandromoreira commented on #6
@khanghuynh92 couldn't you get the latest version? I published on npm.

[2016-04-07 19:25] deedos opened #7 "hls as fallback when using shaka plugin"
Hi.

My idea is using dash as primary and for old browsers, fallback to an hls with Flash. My code as follow:
[code]

Even on browsers with MSE enabled, tha player gives priority to the hls stream. How to state the priority to the MPEG DASH stream ?

many thanks in advance

[2016-04-07 20:35] me-vlad commented on #7
@deedos  quick solution - check for MSE support in browser and configure mpeg-dash blayback if MSE is supported and HLS if not. In real world you alse need to check for flash support etc

quick and dirty sample

[code]

[2016-04-07 22:18] joeyparrish commented on #4
We've just released [v2.0.0-beta](https://github.com/google/shaka-player/tree/v2.0.0-beta) on github & npm.  Let us know what you think.

We're still working on the v2 upgrade guide, but we have [tutorials](http://shaka-player-demo.appspot.com/docs/api/tutorial-welcome.html) on several other topics already.  Hopefully that will be enough to get you started, and you can always reach out via email o

[2016-04-08 01:25] leandromoreira commented on #4
Thanks @joeyparrish and all the team, soon I'll be trying it.

[2016-04-08 01:31] leandromoreira commented on #7
I think you can just rely on [`sources`](https://github.com/clappr/clappr/blob/22bbdeedb0b2a541c6187ec107c5a020af44d344/src/plugins/sources.js), it'll look for the first valid source. (and you can provide extension for this behavior)

[code]

[2016-04-08 02:38] leandromoreira commented on #4
It's looking pretty cool, although I just read the first [two](http://shaka-player-demo.appspot.com/docs/api/tutorial-basic-usage.html) pages from the tutorial. But it was enough [to make it work](https://github.com/clappr/dash-shaka-playback/tree/shaka.2.0.0-beta).

The only thing I think we'll need to overcome is that, now the checking if the Browser/Device is able to play become an async method

[2016-04-08 02:43] leandromoreira commented on #4
I'm noticing a lot less "rebuffering" maybe it's because now the example stream is hosted in a better place http://storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd

[2016-04-08 03:21] leandromoreira commented on #4
I ran a basic profile (on chrome) oriented to CPU and HEAP-wise and notice that both versions are almost the same (shaka 2.0.0-beta vs shaka 1.6.4):

![alt CPU](http://s22.postimg.org/v5v4c8hmp/Screen_Shot_2016_04_08_at_12_07_22_AM.png)
![alt HEAP](http://s22.postimg.org/n1rll8kld/Screen_Shot_2016_04_08_at_12_08_31_AM.png)

[2016-04-08 21:48] joeyparrish commented on #4
We have always tried to avoid doing anything CPU-heavy in Shaka, and we took extra care with `destroy()` in v2 to clean up after ourselves, so I'm glad to hear that it profiles well for you.

Regarding Player.support being async, unfortunately, this is the only way we can return a map of supported key systems.  The EME API is Promise-based.  Is key system information useful to you?

[2016-04-09 00:03] leandromoreira commented on #4
Yeah, there was one guy that [opened an issue](https://github.com/clappr/dash-shaka-playback/issues/5) for that and I think it's very useful.

I was thinking about offering a [sync basic implementation](https://github.com/google/shaka-player/blob/master/lib/player.js#L233-L238) (which will work for most cases) and postpone the final decision based on `Player.support`

[2016-04-09 00:05] leandromoreira commented on #4
Yet on the feedbacks, the code is easier to read and extend :)

[2016-04-09 00:07] joeyparrish commented on #4
Glad to hear it!

[2016-04-09 01:44] me-vlad commented on #7
Thanks @leandromoreira I forgot to mention sources option.

@deedos just keep in mind browsers that reports support for MPEG-DASH and MSE but dash support is unstable (firefox on desktop) or unusable (firefox on android).

IMHO HLS as primary playback and DASH as  fallback looks more interesting at the moment.

[2016-04-11 14:44] deedos commented on #7
Hi @me-vlad and @leandromoreira  , thanks you both for the help! It seems like the sources plugin, the cleanest way to go.

I did ty with the sources plugin and it works, MPEG-DASH is the priority, but, when using browsers with no MSE support (firefox before 45), Clappr.FlasHLS does not load at all. My code as follow

[code]
When using Firefox older than 45, the player reports that there is no val

[2016-04-11 21:06] leandromoreira commented on #7
@deedos try this:
[code]

[2016-04-12 00:26] me-vlad commented on #7
@deedos yes, on desktop version of the Chrome MSE support is more stable than on FF.

[2016-04-12 18:13] deedos commented on #7
@leandromoreira I did try ` plugins: [DashShakaPlayback, Clappr.FlasHLS]` and it didn't work!
thanks

[2016-04-12 19:08] towerz commented on #7
@leandromoreira @deedos there was an issue on Clappr (clappr/clappr/issues/941) that prevented the fallback behavior to work properly.

It's been fixed already, and will be included in the next release.

[2016-04-12 22:15] leandromoreira commented on #7
can you test pointing clappr to the header @deedos ?

[2016-04-13 17:35] deedos commented on #7
Hi @leandromoreira . Do you men build clappr after @towerz commit and use it locally for testing ?

[2016-04-13 17:39] leandromoreira commented on #7
yes @deedos :+1:

1. git clone clappr
2. npm install
3. npm run release
4. use dist/ folder

=)

Since we didn't release a new version yet.

[2016-04-13 18:34] me-vlad commented on #7
@deedos  and try to use latest FF with MSE fixes:
https://www.mozilla.org/en-US/firefox/45.0.2/releasenotes/
https://bugzilla.mozilla.org/show_bug.cgi?id=1258562

[2016-04-13 21:17] deedos commented on #7
@leandromoreira Having some issues building:

[code]
I have tried to install nodejs-legacy but does not work neither. S.O Ubuntu 15.10

thanks

[2016-04-13 23:32] leandromoreira commented on #7
@deedos you need to use node (v5.10.1) in a higher version:

[code]

I built a version locally, you can use it to test. http://s000.tinyupload.com/?file_id=75972455017971560158

[2016-04-30 00:29] leandromoreira commented on #4
- [ ] add support to `canPlay` asynchronously

* one way to implement the async `canPlay` is to signalize the lack of support to a static method (`DashShakaPlayback.supportedStatus`) then check that on the player. But that might force a polling or on check onError

[2016-04-30 01:04] leandromoreira opened #8 "accepts configuration object"
http://shaka-player-demo.appspot.com/docs/api/tutorial-config.html

[2016-04-30 01:08] #8 closed

[2016-04-30 01:11] leandromoreira commented on #4
New configuration with that many options to fine tune is pretty cool!

[2016-04-30 01:17] leandromoreira opened #9 "enables DRM"

[2016-04-30 01:18] #9 closed

[2016-04-30 01:26] leandromoreira opened #10 "handles buffering"

[2016-04-30 01:26] #10 closed

[2016-04-30 01:36] leandromoreira commented on #4
@joeyparrish I'm listening to `player.addEventListener('buffering', this._bufferingHandler.bind(this))` and the parameter received has not `buffering` property but the [doc](http://shaka-player-demo.appspot.com/docs/api/shaka.Player.html#event:BufferingEvent), what's the way to check weather is the start or the end?

[2016-04-30 02:17] leandromoreira commented on #4
Despite the `canPlay` and adaptation/buffering event I release a beta version too.

[2016-04-30 02:20] leandromoreira commented on #7
@deedos do you think you can close this one?

[2016-05-02 08:08] joeyparrish commented on #4
With regard to buffering events, there should definitely be a `buffering` property:

[code]

`AdaptationEvent` in v2 does not contain details about the adaptation decision, which may have applied to multiple tracks.  You can call `player.getTracks()` and see which tracks have `active: true` when you receive the event.

Does this help?

[2016-05-02 11:36] leandromoreira commented on #4
Thanks @joeyparrish , it does helps!

About the 'buffering' event, what I did was to add a listener for 'buffering' `player.addEventListener('buffering', (e) => console.log(e))`, I noticed that it fires twice but none with buffering property.

![error screenshot](http://s32.postimg.org/ufyjefihx/Screen_Shot_2016_05_02_at_8_32_31_AM.png "error screenshot")

[2016-05-02 11:46] joeyparrish commented on #4
Ah, it looks like a renaming bug in the compiled version.  The property has been renamed, but it shouldn't have been.  I filed https://github.com/google/shaka-player/issues/361 to track.

[2016-05-02 12:25] leandromoreira commented on #4
I see, I bet is that `a` value.

[2016-05-02 12:37] joeyparrish commented on #4
We will have another beta release (v2.0.0-beta2) this week if possible.  I will try to have the event properties (google/shaka-player#361) fixed in that release.

Regarding adaptation, from your link it seems that you already have a solution.  Or perhaps I don't fully understand the problem.  Can you clarify, please?  Do you need track information in the `AdaptationEvent`?  Or is it inconvenient t

[2016-05-02 12:56] leandromoreira commented on #4
Yes, it's a solved problem, I'm just sharing what I did, I personally think it's best to offer a generic and extensible component.

[2016-05-02 15:07] deedos commented on #7
Hi @leandromoreira

Sorry for the lack of resposne, Was offline for a couple of days.
I could not maks it work as expected: a new error with today hosted versions. When using firefox withou media source support

`<html>
  <head>
    <script src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clappr.dash-shaka-playback/latest/dash-shaka-pla

[2016-05-02 16:19] leandromoreira commented on #7
Thanks @deedos that's another issue :D

[2016-05-02 16:54] leandromoreira commented on #4
@joeyparrish yet on the adaptation event, it seems that when you call `selectTrack` passing the track (not only the id but the object) it doesn't fire 'adaptation' again:
[code]

I logged the events and I got:

- adaptation id 10
- adaptation id 13
- selectTrack id 9

But there is no `adaptation id 9` as reaction to `this._player.selectTrack(track)`

[2016-05-02 17:16] joeyparrish commented on #4
That's correct.  AdaptationEvents are for changes made by the AbrManager.  When you call `selectTrack`, presumably, you know you've called it.  Also note that `selectTrack()` for audio and video tracks disables ABR.

[2016-05-02 17:22] leandromoreira commented on #4
is this sync? I mean, right after I call `selectTrack` the track was already changed?

[2016-05-02 17:22] leandromoreira commented on #4
@joeyparrish do you have a slacker channel or other way (irc...) to communicate?

[2016-05-02 17:25] joeyparrish commented on #4
Yes, it's synchronous, with the understanding that the StreamingEngine may not request a new segment right away.  But the next time it does, it's from the new track.

Sorry, I'm not available for live chat at the moment.  We don't have an IRC or slacker channel for the team, either.  If email works for you, you can find my email address in CONTRIBUTORS.

[2016-05-02 17:27] leandromoreira commented on #4
Thanks , then I'll use it as sync method.

I'm having some ideas (mostly about extensibility) but maybe the better place to discuss them it's here.

[2016-05-02 17:39] #7 closed

[2016-05-02 17:39] leandromoreira opened #11 "Implement a basic canPlay"
#7

[2016-05-02 18:04] joeyparrish commented on #4
Yes, please give us feedback on the API while we are still in beta and can make API changes more easily.  The best place for feedback is either the mailing list or github issues.  Thanks!

[2016-05-02 19:23] #11 closed

[2016-05-02 19:26] leandromoreira commented on #7
@deedos I just released a new version fixing that behavior (FF with no MSE working), can you test it again?

[2016-05-02 19:28] leandromoreira commented on #4
I tried to access these "methods" and they weren't there, are they private?
[code]

[2016-05-02 19:54] leandromoreira commented on #4
What is the best method to access weather the player is with ABR on or off?

[2016-05-03 07:55] joeyparrish commented on #4
Those methods are not exported from the library.  They are "public" within the library (class-to-class), but "private" with respect to the application.

[2016-05-06 23:48] leandromoreira commented on #4
The new version fixed the buffering issue (among tons of other), thanks!

[2016-05-07 11:52] me-vlad opened #12 "[2.0.3-beta] Cannot read property 'isLive' of undefined"
Browser: All with MSE? (tested on Chrome, Chromium)

Clappr Version: 0.2.49
dash-shaka-playback version: 2.0.3-beta

Steps to reproduce:

- open http://cdn.clappr.io/ and change source to http://demo.unified-streaming.com/video/ateam/ateam.ism/ateam.mpd
- enable dash-shaka-playback Plugin https://cdn.jsdelivr.net/clappr.dash-shaka-playback/latest/dash-shaka-playback.js
- click on Run button,
you'l

[2016-05-07 13:01] #12 closed

[2016-05-07 13:01] leandromoreira commented on #12
thanks :)

[2016-05-07 13:03] leandromoreira opened #13 "Add tests"
shame on me (this is not even an issue)

[2016-06-24 15:02] ibreakstuff93 opened #14 "player.destroy() doesn't work for DASH"
Hi,

Using player version 0.2.56, if calling the player.destroy() javascript, the playback stops but the player body remains on the page.

This is only when using the DASH configuration, it works great when playing back HLS.

[2016-06-24 19:02] leandromoreira commented on #14
@ibreakstuff93 thanks I can reproduce it here https://jsfiddle.net/hzzurtkh/

[2016-06-25 02:09] leandromoreira commented on #14
@ibreakstuff93 I cloned the shaka project to try to reproduce the same error (aka call `destroy`) but I couldn't, either on the HEAD or the tag 2.0.7-beta.

@joeyparrish maybe you can help us here, I'm calling the player destroy and then the success promise is executed... but after that a weird error shows up at console `Uncaught TypeError: Cannot read property 'abr' of null`

[code]
I saw it was

[2016-06-25 02:33] leandromoreira commented on #14
I think I have a clue, we're removing the DOM element (video) on the `destroy` success, maybe it's not safe.

[2016-06-25 03:34] joeyparrish commented on #14
Hrm... 2.0.7-beta isn't a tag in our repo.  Is that one of yours in clappr?

Just based on the log `Uncaught TypeError: Cannot read property 'abr' of null`, I assume this is a bug where something the `'abr'` member of the configuration object is accessed after the config has been set to `null` by `destroy()`.

The compiled snippet you mentioned looks like the body of `Player.prototype.destroy()` i

[2016-06-25 03:51] leandromoreira commented on #14
yep, my mistake in fact I checkout to `v2.0.0-beta2`

It'll be! Thanks

[2016-06-27 17:32] leandromoreira commented on #14
@ibreakstuff93 this will be fixed when a newer version will be published

[2016-06-27 19:27] me-vlad opened #15 "[stable 1.0.12] Cannot set property 'shaka' of undefined"
Browser: All with MSE (tested on Chrome, Chromium)

Clappr Version: 0.2.57
dash-shaka-playback version: 1.0.12

Steps to reproduce:

- open http://cdn.clappr.io/ and change source to http://demo.unified-streaming.com/video/ateam/ateam.ism/ateam.mpd
- enable dash-shaka-playback Plugin (1.0.12) https://cdn.jsdelivr.net/clappr.dash-shaka-playback/1.0.12/dash-shaka-playback.js
- click on Run button, y

[2016-06-27 21:36] leandromoreira commented on #15
Thanks @me-vlad ! is this reproducible on BETA version? can you use the "BETA"?

[2016-06-27 22:23] me-vlad commented on #15
@leandromoreira  my DASH stream has some issues with shaka2, so currently I use shaka1 (dash-shaka-playback stable with older clappr 0.2.51)

[2016-06-27 22:36] leandromoreira commented on #15
@me-vlad okay, I'll branch out then and try to fix! :) if you want, you can open issues to theses issues too.

[2016-06-27 23:37] me-vlad commented on #15
@leandromoreira thanks!
I think shaka2 issue not caused by clappr plugin, I can reproduce it on shaka demo page http://shaka-player-demo.appspot.com/demo/

[2016-06-27 23:53] leandromoreira commented on #15
You can then open an issue at https://github.com/google/shaka-player to help them build a better player!

[2016-06-28 00:06] me-vlad commented on #15
@leandromoreira sure, I'll clarify details and will open an issue at shaka-player repo

[2016-06-28 00:10] leandromoreira commented on #15
you can refer this issue there too if you want.

[2016-06-28 13:49] leandromoreira commented on #15
@me-vlad https://github.com/clappr/dash-shaka-playback/releases/tag/1.0.13 can you test it?

[2016-06-28 15:20] ibreakstuff93 commented on #14
@leandromoreira thanks for your awesome work!

[2016-06-28 16:05] me-vlad commented on #15
@leandromoreira  just tested on [cdn.clappr.io](http://cdn.clappr.io) with v. 1.0.13 from https://cdn.jsdelivr.net/clappr.dash-shaka-playback/1.0.13/dash-shaka-playback.js

I see an error after clicking on Run button:
Cannot read property 'isLive' of undefined

![2016-06-28 19-01-56](https://cloud.githubusercontent.com/assets/222185/16422999/033e7b9c-3d63-11e6-9fde-70af8d3ebaed.png)

[2016-06-28 16:44] #14 closed

[2016-06-28 17:13] leandromoreira commented on #15
it should be fixed now @me-vlad thanks again

[2016-06-28 17:47] me-vlad commented on #15
@leandromoreira  sorry but with  version 1.0.14 from https://cdn.jsdelivr.net/clappr.dash-shaka-playback/1.0.14/dash-shaka-playback.js  - same error on [cdn.clappr.io](http://cdn.clappr.io/)

[2016-06-28 18:22] leandromoreira commented on #15
I see, the weird thing is if you just use the playback (npm start) everything run just fine.

[2016-06-28 20:35] leandromoreira commented on #15
hopefully https://github.com/clappr/dash-shaka-playback/releases/tag/1.0.16 will solve

[2016-06-28 20:44] me-vlad commented on #15
@leandromoreira  cool, it works!
just one minor issue - stream starts just after second click on the player

[2016-06-28 20:51] leandromoreira commented on #15
I'm trying to fix that now @me-vlad :D 17 is up!

[2016-06-28 21:06] leandromoreira commented on #15
17 does not solve that too!

[2016-06-28 21:19] leandromoreira commented on #15
I bet 18 solves it.

[2016-06-28 21:32] me-vlad commented on #15
:) yes, but...
after clicking on stop button player starts buffering

[2016-06-28 21:33] leandromoreira commented on #15
is it live? do you have this source?

[2016-06-28 21:36] me-vlad commented on #15
yes, you can try with this stream
http://live.unified-streaming.com/loop/loop.isml/loop.mpd

[code]

[2016-06-29 03:36] leandromoreira commented on #15
@me-vlad I think it's finally solved thank you so much for all the tests, can you redo all of them?

[2016-06-29 07:53] ibreakstuff93 commented on #14
@leandromoreira - sorry for being a n00b here, is this tagged as wontfix as the problem lies on the clappr side - and if I go to the latest version of Clappr it will work? Sorry for being a thickie!

[2016-06-29 11:33] leandromoreira commented on #14
@ibreakstuff93 yes, I fixed this at https://github.com/clappr/clappr/pull/1047 and when a new clappr version came out this will be fixed :)

[2016-06-29 13:12] me-vlad commented on #15
@leandromoreira  thanks, I tested live and vod stream again with https://cdn.jsdelivr.net/clappr.dash-shaka-playback/1.0.19/dash-shaka-playback.js, VOD works fine.
Live stream starts, after clicking on stop button stream stops and mediacontrol bar disappears but big play button not appears.
Streams starts again after click on the player.

Live test config:

[code]

[2016-07-05 13:38] leandromoreira commented on #15
@me-vlad I'm going to close this one and I ask you to open a new one :) (I noticed someone had catch this same bug while on hls ... maybe this is a clappr related, anyway)

[2016-07-05 13:38] #15 closed

[2016-07-05 16:59] leandromoreira commented on #15
@me-vlad lol https://github.com/clappr/clappr/issues/1062 I fixed

[2016-07-05 17:00] leandromoreira commented on #15
let's wait a new clappr then we can update both versions! Thanks again.

[2016-07-29 20:57] joeyparrish commented on #4
@leandromoreira, we've just released [v2.0.0-beta3](https://github.com/google/shaka-player/tree/v2.0.0-beta3) on github & npm.  The upgrade guide is available [here](http://shaka-player-demo.appspot.com/docs/api/tutorial-upgrade.html).  Let us know what you think!

[2016-07-30 02:56] leandromoreira commented on #4
@joeyparrish thanks :) I'll take a look later!

[2016-08-13 16:43] joeyparrish commented on #14
JFYI, Shaka Player v2.0.0-beta3 came out recently with [the fix mentioned above](https://github.com/clappr/dash-shaka-playback/issues/14#issuecomment-228507159).

[2016-08-13 22:07] leandromoreira commented on #14
Thanks @joeyparrish I'll try to use the last one now lol

[2016-08-13 22:41] leandromoreira commented on #4
@joeyparrish [with minimal effort](https://github.com/clappr/dash-shaka-playback/commit/5cb7c73a3fe284e67da1d758f75d8173bb9feed3), everything is working just fine! Kudos again to everyone!

[code]

[2016-08-15 19:09] joeyparrish commented on #4
Cool, thanks for the feedback!

[2016-08-25 15:47] halibegic opened #16 "Audio tracks"
How to call [audio API](https://github.com/clappr/dash-shaka-playback#extra-features) in order to list / set audio tracks. Example: https://jsfiddle.net/halibegic/ohovkrbv/

P.S stream "angel-one" contains the following tracks:
- language: de, 131357 bits/s
- language: en, 130201 bits/s
- language: es, 132963 bits/s
- language: fr, 134350 bits/s
- language: it, 134045 bits/s

[2016-08-25 20:24] leandromoreira commented on #16
@halibegic this should work https://jsfiddle.net/ohovkrbv/2/ but it's not I'm looking into to understand (but at least you can see how it can be done)

[2016-08-25 20:42] leandromoreira commented on #16
@halibegic it works :P you just need to:

First gather the tracks:

[code]

And then create an UI (binding onClick) to change it:

[code]

[2016-08-25 20:45] halibegic commented on #16
I will try :) Thank You

[2016-08-25 21:19] halibegic commented on #16
I don't know why but first time playing I need to click two times in order to change audio https://jsfiddle.net/halibegic/ohovkrbv/12/

[2016-08-25 22:25] leandromoreira commented on #16
I'll check it, I also would point you to this project https://github.com/clappr/clappr-level-selector-plugin it might inspire you.

[2016-08-26 14:24] leandromoreira commented on #4
@joeyparrish are any plans to add support to Adobe Access?

[2016-08-29 18:15] joeyparrish commented on #4
We don't *not* support Adobe Access.  We support EME, so as long as Adobe Access is interoperable with other EME key systems, I see no reason it shouldn't just work.  That said, we currently have no public DASH test vectors using Adobe Access, so we can't confirm.

[2016-08-29 21:32] leandromoreira commented on #4
Thanks @joeyparrish I got it.

[2016-09-07 18:31] joeyparrish commented on #4
Just wanted to let you know that v2.0.0 is officially out of beta.  Thanks again for your involvement and feedback!

[2016-09-07 22:56] leandromoreira commented on #4
@joeyparrish you're welcome, btw we (the company I'm currently working) are planing to use with Shaka 👍  (actually we use clappr therefore we'll use this wrapper (dash-shaka-playback) but for sure Shaka is the ⭐  while playing dash)

[2016-09-07 22:58] joeyparrish commented on #4
Nice!

[2016-09-08 13:57] #4 closed

[2016-10-14 22:17] leandromoreira opened #17 "Release a new version"

[2016-10-14 22:19] #17 closed

[2016-10-23 13:35] leandromoreira opened #18 "Audio switch not being handled first time"
https://github.com/clappr/dash-shaka-playback/issues/16

[2016-10-23 13:35] #16 closed

[2016-12-16 21:27] leandromoreira commented on #16
@halibegic can you test with the newer version?

[2017-02-24 09:14] BiasF opened #21 "debugging options"
Hi,

are there any debugging options?
Sometimes the video doesn't start or is buffering very often.

In JS console of my browser, I can't see any logs

Gruß
Bias

[2017-02-25 01:16] leandromoreira commented on #21
@BiasF the debug level is enabled with:

[code]

[2017-05-10 22:10] Portmansa opened #23 "update"
Please update, some features are depreciated.

[2017-05-11 03:28] leandromoreira commented on #23
Thanks https://github.com/clappr/dash-shaka-playback/releases/tag/2.0.7

[2017-05-11 03:28] #23 closed

[2017-05-11 03:31] #21 closed

[2017-05-11 10:30] AhsanE opened #24 ""Extra" Features"
Some api's are depreciated, and replaced please update them in the Read me section.

[2017-05-11 20:02] leandromoreira commented on #24
@Portmansa are you saying about shaka or clappr api? which methods?

[2017-06-14 15:59] aditya0711 opened #25 "Uncaught TypeError: Cannot read property 'Document' of undefined"
Hey,
Getting this error while using dash-shaka-playback with webpack, are there any specific instructions we need to follow while using it with webpack?

The Error:
![image](https://user-images.githubusercontent.com/14818486/27142386-7303d224-515d-11e7-91cf-8fec8d402a97.png)

plugin.js
[code]

webpack.config.js
[code]

Any help is much appreciated!

Thanks,
Aditya

[2017-06-14 16:27] leandromoreira commented on #25
I don't know, maybe @tjenkinson @towerz @kslimani  can help you

[2017-06-14 17:17] kslimani commented on #25
Try to grep your source code for `Document` string. Also does it should not be `document` in lowercase instead ? (_maybe a window.Document typo somewhere in your bundle code ?_)

[2017-06-14 17:58] aditya0711 commented on #25
Version2

[2017-06-14 18:31] kslimani commented on #25
@aditya0711 allright, take a look at this [simple project](https://github.com/kslimani/clappr-playground), it uses webpack v2.
You may find some hints to solve your issue. (_if not tell me, i will take a more deeper look_).

[2017-06-15 08:45] aditya0711 commented on #25
Hey, the examples you shared above helped.
But eventually I realized I cant change things anymore to actually make it work, so I decided to throwaway the current code and start from scratch, and try to recreate the error, but it worked.
I cant pindown the exact failure point in my code but blaming it on dependencies.

Thanks a lot for your help, guys.

[2017-07-13 09:42] kslimani opened #28 "Feature request : add "external" shaka plugin version in compilation"
I created an issue to continue discution started in https://github.com/clappr/dash-shaka-playback/pull/22#issuecomment-315020126.

(will also create a PR proposal).

Goal is to modify plugin compilation to add an additional version of the plugin without shaka-player bundled.

My current proposition is :

* to keep the current filename `dash-shaka-playback.js` for the version with shaka-player bund

[2017-07-13 10:57] leandromoreira commented on #28
I really liked your current proposition. 👍  Thank you @kslimani

[2017-07-13 11:20] kslimani commented on #28
@leandromoreira i see also that in current master, a compilation "behaviour" has been broken since 2.0.7 release tag :

Previously, `npm run build` was compiling **unminified** es5 "dist" version and `npm run release` was compiling the **minified** es5 "dist" version. Do you want me to restore this in my (_incoming soon_) PR ?
(_i ask because the bump shell script is expecting this behaviour_).

I

[2017-07-13 13:19] leandromoreira commented on #28
No, I think this is better.

[2017-07-13 14:02] kslimani commented on #28
@leandromoreira  then you should revert, because in my PR i restore the previous behaviour

[2017-07-13 14:22] leandromoreira commented on #28
I loved the `npm run dist` that does all. Is it now releasing a minified es6?

[2017-07-13 14:26] kslimani commented on #28
In the current merged PR :

* `npm run build` create the **unminified** es5 plugin bundle file
* `npm run release` create the two **minified** es5 plugin bundle files (_with and without shaka as external lib_)
* `npm run dist` ==>  `npm run lint && npm run build && npm run release`

[2017-07-13 14:34] kslimani commented on #28
So, if you run `npm run dist`, it will run lint task and then generate the following files :

[code]

[2017-07-13 14:46] leandromoreira commented on #28
I think this solution you did is perfect!

[2017-07-13 15:20] kslimani commented on #28
Ok, then, no revert is required 👍

Please note, that you will need to run yourself (_or another core member_) the `dist` task and commit to master in order to create the new bundle files.

[2017-07-13 15:47] kslimani commented on #28
@tchakabam could you please get current master and verify if it satisfy your needs ?

[2017-07-13 18:02] leandromoreira commented on #28
Ohh yeah, I'm planning to do a new release, @kslimani did you tried with newer clappr? can I `npm publish` it too?

If the answer is yes for all questions above I'll be happy to release a new version, are you girls/guys @tchakabam @vagnervjs @towerz okay with that?

[2017-07-13 18:05] vagnervjs commented on #28
That's fine by me, great work again @kslimani!

[2017-07-13 19:08] kslimani commented on #28
I have not made intensive tests, i just checked that webpack-dev-server demo page run with `npm start` was working. I was relaying on @tchakabam to performs additional tests. (_especially the "shaka less" bundle_)

BTW @leandromoreira i am also planning to add new Clappr closed caption capability support to this plugin. (_but no eta, maybe next week, it is Bastille Day tomorrow in France_). I will

[2017-07-13 19:15] leandromoreira commented on #28
😄  don't worry enjoy your Bastille Day there.

[2017-07-15 08:34] tchakabam commented on #28
@kslimani Hey thanks for the notice! I'll get back to you with the test results on monday, but code-wise it looks all great! :)

[2017-07-18 08:35] tchakabam commented on #28
@kslimani hey but what is now with an external bundle that is not minified :dagger:

seems we dont have that anymore now :(

[2017-07-18 08:36] tchakabam commented on #28
i ll make a PR for that ;) otherwise looks fine to me.

[2017-07-18 09:01] tchakabam commented on #28
https://github.com/clappr/dash-shaka-playback/pull/33

[2017-07-19 18:31] #24 closed

[2017-07-19 18:32] leandromoreira commented on #28
It's done! 💃  thanks a lot, @kslimani  and @tchakabam

[2017-07-19 18:32] #28 closed

[2017-07-19 18:47] leandromoreira opened #35 "Level selector shows all the bitrates for all the possible tracks"

[2017-09-21 15:03] leandromoreira opened #44 "Break the single class into several components"
This abstraction is getting bigger, therefore, I think we should split it, maybe into:

* DashShakaTracks

[code]

[2018-05-13 09:37] Netherdrake opened #51 "Shaka fails to play when Clappr.autoplay is false"
I'm running into a peculiar issue with Clappr + DASH.

When Clappr.autoplay is true, the video plays fine and everything works as expected. However, if I set the `autoplay` to false, the video won't load and all I get is this error:
<img width="379" alt="screen shot 2018-05-13 at 11 31 26 am" src="https://user-images.githubusercontent.com/3516903/39965864-9c6ae374-56a1-11e8-93f1-68039f77b4f8.png">

[2018-05-13 10:16] kslimani commented on #51
@Netherdrake is your browser Chrome version 66 ?
If yes, it *may* be related to [this issue](https://github.com/clappr/clappr/issues/1639) _(to confirm)_
Does autoplay fails also on Firefox 60 ?

[2018-05-16 15:49] kslimani commented on #51
For an unknown reason, it seems with autoPlay false that video element *may* trigger an error. (which cause the default error page to be displayed).

A workaround is to add the following line at the beginning of  [_onError()](https://github.com/clappr/dash-shaka-playback/blob/master/src/clappr-dash-shaka-playback.js#L312) method :

[code]

[2018-05-16 16:49] kslimani commented on #51
For completeness here the [commit](https://github.com/clappr/clappr/commit/5dcb887431d7bc347842143104756e53cc1ccef9#diff-2c2c8cae7099c541811236d5f7c5d53d) renaming the method.

In fact, i think that this error has always been there since start but not noticed until error page refactor in Clappr.

[2018-05-16 23:57] #51 closed

[2018-08-10 12:04] mrlika opened #53 "Shaka namespace needed"
To integrate [P2P Media Loader](https://github.com/Novage/p2p-media-loader/tree/master/p2p-media-loader-shaka) engine with Shaka Player in Clappr we need both: shaka player instance and shaka namespace object. Namespace object is not available.

[code]

See details:
https://github.com/Novage/p2p-media-loader/blob/master/p2p-media-loader-shaka/lib/integration.ts

Can you make somehow the namespace

[2018-08-10 15:15] kslimani commented on #53
Maybe simply add a getter, like we did for [HLSJS playback](https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L106),  for example :

[code]

And the player instance should be available with the [shakaPlayerInstance](https://github.com/clappr/dash-shaka-playback/blob/master/src/clappr-dash-shaka-playback.js#L29) getter. (if created)

[2018-08-10 18:05] leandromoreira commented on #53
Thanks you two =) I'll bring @towerz and @vagnervjs I think @kslimani idea's seems pretty solid.

[2018-09-03 12:40] greenya commented on #53
Hello guys.
We (me and @mrlika) managed to make all work without this change. We have used "external" version of your library (which comes without bundled ShakaPlayer and relies on global "shaka" included before the library). This way our library and your one uses same "shaka".

[2018-09-06 15:11] #53 closed

[2019-01-16 16:39] katsar0v opened #54 "SSL Issue locally"
Already mentioned here: https://github.com/clappr/clappr/issues/1756

But it might be directly connect with dash shaka playback, that's why I wanted to post it here as well:

Browser: Chrome Version 71.0.3578.98 (Official Build) (64-bit)

OS: Ubuntu 18

Clappr Version: 0.3.0

There seems to be an issue with local ssl certificates. I have local videos.localhost.com hostname with self signed certifi

[2019-01-16 17:38] leandromoreira commented on #54
@katsar0v I think your manifest is pointing to `http` , see `requested an insecure resource 'http://videos.localhost.com/dash/devito,360p.mp4,480p.mp4,720p.mp4,.urlset/init-f1-a1-x3.mp4'. This request has been blocked; the content must be served over HTTPS.` can you post your manifest here? or can you change it to use `https:`

[2019-01-16 17:45] leandromoreira commented on #54
this is mostly related to how browser works

[2019-01-17 07:17] katsar0v commented on #54
Yep, fixed it, no real issuex thanks

[2019-01-17 07:17] #54 closed

[2019-02-04 14:33] katsar0v opened #55 "External subtitle support"
Is there any support for external subtitle files?

[2019-02-04 15:44] leandromoreira commented on #55
https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md#playback-configuration

[2019-02-06 07:53] katsar0v commented on #55
Am not sure what this means:

I am using hls streams.

[2019-02-06 13:03] leandromoreira commented on #55
This PR added cc support https://github.com/clappr/dash-shaka-playback/pull/34/files but it might be buggy the demo https://jsfiddle.net/m8ndduLo/69/ used to work

[2019-04-16 09:50] nemesisqp opened #56 "Typo variable make level selector pulsing forever"
```_pendingAdaptationEvent_``` should be ```_pendingAdaptationEvent```
https://github.com/clappr/dash-shaka-playback/blob/a3f96f93e7951ffe5d51eafdb8b4d32f698d9b7c/src/clappr-dash-shaka-playback.js#L342

[2019-04-16 12:20] leandromoreira commented on #56
thanks @nemesisqp good catch!

[2019-04-17 00:42] #56 closed

[2019-05-02 10:03] kumarashu123 opened #59 "SMPTE-TT bitmap based Subtitle Support"
shaka-player "version": "2.5.0-beta3" has fixed the issue. In dash-shaka-playback it shows shaka-player version 2.4.4. I tried some approach but it could not helped to update nested dependencies.
Can you please upgrade if it possible or suggest the alternatives.

Kindly refer the link
https://github.com/google/shaka-player/pull/1859
Thanks in advance

[2019-05-02 12:36] leandromoreira commented on #59
@towerz @joaopaulovieira @jhonatangomes are all in favor of updating for `2.5.0-beta3`?

[2019-05-02 12:47] leandromoreira commented on #59
and there is also this PR  https://github.com/clappr/dash-shaka-playback/pull/58 that will be added.

[2019-05-06 10:46] kumarashu123 commented on #59
Hi all, Can you please let me know when 2.5.0-beta-3 will get merged?
If it takes time Could you please let me know how i can override shaka-players dependency?
My main **challenge** is My application => dash-shaka-playback => shaka-player(need to update this version).
Please let me know any alternatives to update shaka-players dependency

[2019-05-06 12:09] kslimani commented on #59
@kumarashu123 this plugin has a [build version](https://github.com/clappr/dash-shaka-playback/tree/master/dist) without shaka player bundled.

Try to load first your custom shaka player version, then load `dash-shaka-playback.external.min.js` script.

[2019-05-10 11:29] kumarashu123 commented on #59
shaka-player now we have stable version 2.5.0 [https://github.com/google/shaka-player/releases/tag/v2.5.0](url). Can you please update in dash-shaka-playback.

[2019-05-10 12:49] leandromoreira commented on #59
sure thing @kumarashu123 thank you :)

[2019-05-10 13:44] #59 closed

[2019-05-23 11:40] kumarashu123 opened #62 "dash-shaka player could not fetch the SMPTE-TT images"
When the smpte based subtitle language is selected in the player during playback, player is requesting the xml file for the bitmap based subtitles and the response xml file has the list of available bitmap images .
The  player is able to parse the available bitmap-images list from the xml file and add those list to the cue but fails to send the request to fetch the parsed images. So the bitmap bas

[2019-05-23 12:09] leandromoreira commented on #62
did you see any error on network or console from the browser? it might be related to cors

[2019-05-23 12:26] kumarashu123 commented on #62
There is no Network error. I am getting one error in console
**DOMException: Failed to execute 'endOfStream' on 'MediaSource': The MediaSource's readyState is not 'open'**

Below is the url of mpd content which i am playing
'https://livesim.dashif.org/dash/vod/testpic_2s/img_subs.mpd'

[2019-05-24 12:15] kumarashu123 commented on #62
hi, Can you tell me what is the issue?

[2019-05-24 12:34] leandromoreira commented on #62
@kumarashu123 do you have the same problem when using the https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;panel=CUSTOM%20CONTENT;build=uncompiled click on Custom content e put yours

[2019-05-24 12:43] kumarashu123 commented on #62
No, I don't have any problem when i am playing using above url.
You can try this mpd **https://livesim.dashif.org/dash/vod/testpic_2s/img_subs.mpd** content to the above url.

I have cloned dash-shaka-playback and Running dev. server there i am not getting subtitles.

[2019-06-03 04:24] kumarashu123 commented on #62
Hi any updated or I will be enhancement.

[2019-06-03 11:08] leandromoreira commented on #62
have you tried with the lastest release?

[2019-06-03 11:33] kumarashu123 commented on #62
Yes, I have tried with latest release.
Not getting subtitles.

[2019-06-11 13:43] mrlika opened #67 "getManifestUri is deprecated"

[2019-06-11 13:44] #67 closed

[2019-06-19 07:07] kumarashu123 commented on #62
Can you please tell How i can used SMPTE-TT subtitles in my app.

[2020-01-05 00:40] hijuuijj opened #72 "Error: dash_shaka_playback_1_1002"
http://rtve-24h-vod-dash.secure.footprint.net/live/nas_live/24h/dash/24h.mpd?begin=&end=&nvb=1527155886&nva=1958691886&hash=009e4d1c3ce13217b621a5f14312e1d0a00e7d2ff

I get this error code many times during the playback: dash_shaka_playback_1_1002
Refreshing the page the stream continues, but after a few seconds the error message reappears.
However VLC works without any problem.

Is there any way

[2020-01-18 13:57] hijuuijj commented on #72
While there is no solution, is there any way to change the error to auto-refresh? (auto-retry until it works)

[2020-01-18 14:11] leandromoreira commented on #72
@hijuuijj I think you can do that https://github.com/clappr/clappr/blob/dev/doc/PLAYER_ERRORS.md#player-errors

[2020-01-22 00:23] hijuuijj commented on #72
I can't get it to work... can somebody help me? I just need you to do unlimited retries and show the last frame while is trying to load.

[2020-01-22 00:47] leandromoreira commented on #72
The link I posted has a retry example: https://github.com/clappr/clappr/blob/dev/doc/PLAYER_ERRORS.md#example

<img width="719" alt="image" src="https://user-images.githubusercontent.com/55913/72855839-9f62c500-3c97-11ea-8c12-b9a8f18cf389.png">

[2020-01-22 00:56] jhonatangomes commented on #72
If you want to use the shaka player options, you can do so by setting the `shakaConfiguration` object into clappr options.

Example:

[code]

Keep in mind that by setting the `maxAttempts` to Infinity will never trigger a streaming/manifest error.

[2020-01-22 01:02] jhonatangomes commented on #72
I'd also recommend you to check why the error 1002 is happening.

You can get information about this error [here](https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html) and [here](https://github.com/google/shaka-player/blob/master/docs/tutorials/faq.md)

[2020-01-22 03:28] hijuuijj commented on #72
Please could you edit and complete your code with my URL? I get a black screen.
Thank you for your help.

[2020-01-22 04:23] #72 closed

[2020-01-29 13:12] kslimani opened #74 "Playback ready event logic issue"
I have done some debug with this plugin, to understand why the "CORE_READY" event is not trigger when a Clappr player instance is created.

In the current latest version, it seems that the "CORE_READY" event is trigger only when `play()` method is called.

I think this is because the `PLAYBACK_READY` event is trigger in [_onShakaReady()](https://github.com/clappr/dash-shaka-playback/blob/master/sr

[2020-01-29 13:20] leandromoreira commented on #74
I think it's best to add complexities as you mentioned than not to be complient with the API semantics of core ready. Btw, thanks for the work 🥂

[2020-01-29 14:35] kslimani commented on #74
I pushed #75 to attempt to fix this issue.

[2020-01-29 16:22] leandromoreira commented on #74
I'm in favor that we also update shaka to release the new version.

[2020-01-29 16:34] kslimani commented on #74
@leandromoreira please note that i added an additionnal commit to fix an issue with Safari on macOS. I explain why in the PR.

[2020-01-29 16:56] kslimani commented on #74
@leandromoreira do you want me to also add a commit in the PR to bump Shaka to 2.5.8 ?

[2020-01-29 16:57] leandromoreira commented on #74
I'm okay with that, what do you think @jhonatangomes ?

[2020-01-30 14:41] kslimani opened #76 "Level label formatting issue"
i have done some tests with the "angel" dash source url _(Star Trek)_ from demo page and as described in [this issue](https://github.com/clappr/clappr-level-selector-plugin/issues/77#issuecomment-580214314), sometimes the mafinest expose several video representation with the same height but for different language, which result in duplicated labels.

This could be fixed by changing [label formattin

[2020-01-30 14:45] leandromoreira commented on #76
I think your proposed solution is great!!! add (context) language will help! let me bring @joaopaulovieira @towerz to the discussion as well, btw thanks once again man, you're on 🔥  👏 👏 👏 👏 👏 👏 👏 👏

[2020-01-31 12:21] kslimani commented on #76
My proposition is to add these modifications _(not added yet to current pr #75)_ :

[code]

[2020-01-31 12:28] leandromoreira commented on #76
Cool, what do you think of renaming `_hasDuplicateValue` to `_mightHaveMultipleLanguages` ... I'm not sure if it makes it clear or not because the function really just check duplicated values.

One solution to that could be:

[code]

[2020-01-31 12:35] kslimani commented on #76
Maybe rename method `_hasDuplicateValue` to `_hasDuplicateObjectValue` _(method expects an array of object as first parameter, and second parameter is the name of object property to check for duplicate value)_

Yes, we could rename `hasDupeHeight` variable to `mightHaveMultipleLanguages` to make it clearer.

[2020-01-31 12:42] kslimani commented on #76
In future version of Clappr i think we could remove completly label formatting logic from playback plugins, and normalize array of object provided by `PLAYBACK_LEVELS_AVAILABLE` event; and move all the formatting logic inside the level selector plugin ? _(still providing formatting callback to allow developper customize labels)_

It would also bring consistency because currently, labels for hls is

[2020-01-31 14:15] leandromoreira commented on #76
100% in favor of creating a new component for that, great idea ! 👍

[2020-01-31 16:34] kslimani commented on #76
awww, the previous provided solution does not work in all case. There are some manifest with multiple time the same height, with the same language, but different bitrate...

I am starting to think that the hls.js playback default approach for label formatting using the bitrates might be a better.

[2020-01-31 18:59] leandromoreira commented on #76
Yeah and let it open for the custom personalization by the user

[2020-02-03 15:31] kslimani commented on #76
currently, i see 2 solutions :

First solution is to always use bitrate for label and check if video tracks has multiple audio languages. If this is the case, then use bitrate with language code for label.

Second solution is same as previous, but also check if no video track "height" duplication. If no duplication, then use height for label (same as current version), otherwise use bitrate (with/w

[2020-02-03 16:47] leandromoreira commented on #76
I'd like this one... not relying on duplicate height with different bitrates

[2020-02-04 17:20] kslimani commented on #76
@leandromoreira i added [a commit](74c8a627af10390dd53873ead660c8591db68846) in #75 which change the default label formatting to be the same as hls playback (ie: using bitrates).

When multiple languages are available, it append the language code to label.

It also sort the tracks in bandwidth DESC order. _(previous code was wrongly assuming that tracks were already sorted and it was only reversin

[2020-03-06 09:48] yvashar opened #77 "dash-shaka-playback is not updated with Shaka version above 2.5.5"
The TTML subtitles had some styling issues with dash-shaka-playback and the styling is proper in standalone shaka-player ^2.5.6. When the dash-shaka-playback source code is inspected , the fix for TTML subtitles styling was missing in the dash-shaka-playback.js

Please see below  TTML subtitle styling fix given by shaka-player.
https://github.com/google/shaka-player/commit/9f7652e7ad08074b8e5fc9e9

[2020-03-06 12:53] shivaksk1 opened #78 "dist folder not updated with latest built library"
Hi, the javascript files in the dist folder (e.g. dash-shaka-playback.js) seem to have been compiled with the older sources.

Can you please update the dist folder with the latest build output?

My project uses dash-shaka-playback module and since webpack always takes dash-shaka-playback.js from the dist folder (as specified in "main" attribute of package.json), I am not getting the udpated dash-s

[2020-03-06 14:18] kslimani commented on #74
/bump @jhonatangomes :turtle: :grin:

[2020-04-03 23:32] stevenscarrascal opened #79 "Error: libwv exception: Invalid Keyid in PSSH"
Hi there
I have a problem at the time of the widevine request

I was seeing that 2 requests are generated, the first if in the body of the request the key but the second shows me this message: Error: libwv exception: Invalid Keyid in PSSH
and the player stops
and in the console I get this message:

description: "Category: 6, code: 6008, severity: 2"
level: "FATAL"
origin: "dash_shaka_playback"
sco

[2020-04-28 22:42] joaopaulovieira commented on #18
I don't reproduce the reported behavior on this fiddle link. Does it still occur?

[2020-04-28 22:43] joaopaulovieira commented on #44
🤔

[2020-04-28 22:49] joaopaulovieira commented on #55
@leandromoreira, It's the issue resolved by the PR you mentioned?

[2020-04-29 02:43] leandromoreira commented on #55
@joaopaulovieira don't know =(

[2020-04-29 02:44] #18 closed

[2020-07-02 10:34] zaqvil opened #82 "I want to know how to set default level"
I need some function to set default level when I click play, but I don't know how to select default level rather than playing to change level

[2021-08-02 10:00] Dazzler1985 opened #102 "Does not play specific manifests with a new url in location ."
I have a manifest like this in the location section there is a new url to the complete manifest but the player will not follow and just stops and does not play.

<?xml version="1.0" encoding="utf-8"?>
<MPD xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="urn:mpeg:dash:schema:mpd:2011"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xsi:schemaLocation="urn:mpeg:DASH:schema:MPD:20

[2021-08-02 10:00] Dazzler1985 commented on #102
`<?xml version="1.0" encoding="utf-8"?>
<MPD xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="urn:mpeg:dash:schema:mpd:2011"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xsi:schemaLocation="urn:mpeg:DASH:schema:MPD:2011 http://standards.iso.org/ittf/PubliclyAvailableStandards/MPEG-DASH_schema_files/DASH-MPD.xsd"
    profiles="urn:mpeg:dash:profile:isoff-main:2011"
    type="d

[2021-08-15 01:34] joaopaulovieira commented on #102
Did you try to do this same approach using the [shaka-player](https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;panel=HOME;build=uncompiled)?

[2021-10-29 13:10] ayoubcr5 opened #105 "Clappr doesn't load my mpd"

[2022-04-06 18:06] anesuc opened #110 "Adding headers to requests"
Hi all!

I was wondering is it possible to add custom headers to the requests made by this plugin?

Thanks

[2022-04-15 07:20] #110 closed

[2022-05-04 11:45] kumarashu123 opened #113 "Playback does not work with dash-shaka-playback v2.3.1 build with shaka-player v2.5.10"
For the development purpose i am trying to build dash-shaka-playback v2.3.1 with shaka-player v2.5.10.
Build is success but when i tried using dash-shaka-playback/dist/dash-shaka-playback.js playback is not working.
getting below error
<img width="713" alt="Screenshot 2022-05-04 at 5 14 04 PM" src="https://user-images.githubusercontent.com/10974291/166674900-0e4b6143-3a79-41b6-adac-d1488bf755d4.pn

[2022-05-09 12:18] anesuc opened #114 "Captions not working"
Hi all,

How do we get captions working with this plugin? I've tried the normal way with clappr which seems to work with mp4s but not with this plugin:

[code]

 But the captions button does show up.

 Thanks